:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
  background: #f5f7fa; /* base neutral */
}

a {
  color: inherit;
  text-decoration: none;
}

/* mejora “tap” en mobile */
button, a {
  -webkit-tap-highlight-color: transparent;
}
html, body {
  overflow-x: hidden;
}
